<h1>Barber page</h1>
<p>Имя: <%= @client.name %></p>
<p>Телефон: <%= @client.phone %></p>
<p>Дата записи: <%= @client.datestamp %></p>
<p>Цвет: <b style="color:<%= @client.color %>; ">ХХ_тут цветХХ</b></p>